<!DOCTYPE html>
<html>
  <head>
    <title>JPL Careers</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
      #banner {
        height: 360px;
        width: 100%;
        object-fit:cover;
        margin-bottom:16px;
      }
    </style>
  </head>
  <body>
    {% include 'nav.html' %}
    <img class="img-fluid" id="banner" src="https://jpl-flask-website--raymondalvin.repl.co/static/Banner.jpeg" height="320px">
    <div class="container">
      <h1 class="text-center mt-2 mb-4">
        {{company_name}} Careers
      </h1>
      <div class="row" style="margin-bottom:16px;">
        <div class="col-md-6">
       <p class="lead">
The Jet Propulsion Laboratory holds a unique place in the universe. We are a leader in robotic space exploration, sending rovers to Mars, probes into the farthest reaches of the solar system, and satellites to advance understanding of our home planet. We’re working on missions to investigate the surface and interior of Venus and to study the ocean deep below the icy crust of Jupiter’s moon Europa. JPL is taking part in missions to map Earth’s surface and to chart minute movements of the planet’s ice and land-covered surfaces. We plan to bring Martian rock samples back to Earth in the search for past signs of microscopic life on Mars, and those efforts will also help NASA prepare to send humans to Mars.
      </p>
        </div>
        <div class="d-none d-md-block col-6">
          <img src="static/jpl_working.jpeg" style="height:320px; border-radius:4px;">
        </div>
      </div>
      <h2 class="text-center mt-2 mb-4">Open Positions</h2>
      <p>
        {% for job in jobs %}
          {% include 'jobitem.html' %}
        {% endfor %}
      </p>
      <div class="text-center">
      <a class="btn btn-primary btn-lg" href="mailto:raymond.alvin@jpl.nasa.gov">Contact Us</a>
      </div>
    </div>
    {% include 'footer.html' %}
  </body>
</html>